.header {
    padding: 2rem 0;
    display: flex;
    width: 98%;
    margin: 0 auto;
    max-width: $max-width;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        width: 94%;
    }

    .main-nav {
        position: relative;

        .nav-btn {
            float: right;
        }

        .nav-box {
            background-color: $rich-black;
            padding: 3rem;
            position: absolute;
            right: 0;
    
            .close-btn {
                float: right;
                position: absolute;
                top: 0;
                right: 0;
            }
            
            ul {
                padding: 0;
                margin-top: 60px;
    
                li {
                    list-style: none;
                    line-height: 2.8;
    
                    a {
                        font-weight: bold;
                        font-size: 20px;
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }


}